<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <script src="{{ env.HOST_NAME }}js/jquery.min.js"></script>
		<script src="{{ env.HOST_NAME }}js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{{ env.HOST_NAME }}css/style.css">
		<link rel="stylesheet" href="{{ env.HOST_NAME }}css/bootstrap.min.css">
		<script type="text/javascript" src="{{ env.HOST_NAME }}js/jquery-ui.min.js"></script>
		<title>TODO application</title>
	</head>
<body>