{% extends "layouts/default.html" %}
{% block content %}   
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class="todolist not-done">
             <h1>Todo listing application</h1>
                <div id="application_message"></div>
                <input type="text" class="form-control add-todo" placeholder="Add todo">
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                        {% for item in itemData %}

                        <li class="ui-state-default ui-sortable-handle {% if item.is_marked %} done-list-marked {% else %} not-done-marked {% endif %}">
                        <div class="checkbox">
                            <input type="hidden" value="{{ item._id }}" name="item_id" class="current_item">
                            <label class="{% if item.is_marked %} all-ready-marked {% endif %}">
                                <input type="checkbox" value=""{% if item.is_marked %} checked {% endif %}/> {{ item.title }}</label> <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </li>
                        {% endfor %}
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> Items Left
                </div>
            </div>
        </div>
    </div>
</div>

<style>
</style>
{% endblock %}